.grid {
  display: flex;
  flex-wrap: wrap;
  border: solid 1px;
  width: 300px;
  height: 300px;
}

.grid div {
  width: 20px;
  height: 20px;
}

.shooter {
  background-image: url(shooter.png);
  background-size: cover;
}

.invader {
  background-image: url(alien.png);
  background-size: cover;
}

.boom {
  background-image: url(alienDead.png);
  background-size: cover;
}

.laser {
  background-image: url(shoot.png);
  background-size: cover;
}