.grid {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
}

.grid div {
  width: 30px;
  height: 30px;
}

.snake {
  background-color: darkmagenta;
}

.apple {
  background-color: lightgreen;
}

h1 {
  padding-top: 30px;
}