body {
  background-color: lightyellow;
}

h5 {
   margin: 2%;
 }

.score, .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }

.center {
  text-align: center;
  width: 90%;
  margin: 50px auto;
}

.grid {
  background-color: lightgray;
  height: 400px;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
}

.grid div, .previous-grid div, .br {
  height: 20px;
  width: 20px;
}

.previous-grid {
  background-color: lightgray;
  height: 80px;
  width: 80px;
  display: flex;
  flex-wrap: wrap;
}

.block, .block2, .block3 {
  background-image: url(block.png);
  background-size: cover;
}

.block2 {
  filter: hue-rotate(280deg);
}

.block3 {
  filter: hue-rotate(250deg);
}